#banner {
    margin-top: 60px;
    background-image: url('../img/product/banner.jpg');
    height: 900px;
}

#banner .banner-content {
    padding-top: 200px;
    padding-left: 50px;

}

#banner .banner-content h2,
#banner .banner-content h2>span {
    font-family: 'Gotham-Ultra';
    font-size: 46px;
}

#banner .banner-content p {
    width: 552px;
    text-align: justify;
}

#banner .banner-content button {
    background-color: #bd945f;
    padding: 1.5rem 2rem;
    text-transform: uppercase;
    font-family: 'Gotham-Ultra';
    font-size: 1.25rem;
    color: #fff;
    border: 0;
}
w-60{
    width: 60%;
}

#info-company{
            display: flex;
            justify-content: space-between;
            color: #fff;
            background-color: #333333;
        }
.details{
    font-family: 'Gotham-Thin';
    font-size: 30px;
}
        
